*{
    margin-left:0 ;
    margin-right:0;   
    padding: 0%;
    z-index: -100;
 }
 header img{width: 120px;
  height: auto;
  position: relative;
  top: 35px;

 }
 header{
  position: fixed;
  z-index: 2;
  width:115%;
  margin-top:-9px;
  margin-left:-9px;
}
header {

  background-attachment: fixed;
  background-color: #26d367;
}
header nav li{
    
  display: inline-block;
  position: relative;
  top:-30px;
  left: 65px;
  margin-left: -50px;



}/*

margin: 20px;
  position: relative;left: 150px;
  top:-30px;





 img{width: 120px;
  height: auto;
  position: relative;
  top: 38px;

 }
 header{
   position: fixed;
   z-index: 0;
   width:100%;
   margin-top:-9px;
   margin-left:-9px;
 }
  header nav li{ 
    
    text-align: justify;
    position: relative;
    
    
  }
  header nav li{
    
    display: inline-block;
    margin: 20px;
    position: relative;left: 150px;
    top:-30px;


  }

nav a {
    text-decoration: none;
    color:white;
  }
  header {
    background-attachment: fixed;
    background-color: #26d367;
  }
  */
  nav a {
    text-decoration: none;
    color:white;
  }
  div h3 p{
    margin: 20px;
    text-align:left;
  }

  .section_1{

  }
  .partie_gauche,#partie_droite{
    margin-top:150px ;
   
    display:inline-block;
    vertical-align:middle;


  }
  #partie droite{ 
    width: 300px;
    height:100%;

  }
  .partie_gauche{
    width:500px;
    margin-left: 200px;
    font-size:16px;
  

  }
  .partie_gauche ul li{
     list-style-type: none;
     margin-left: 100;

  }
  .partie_gauche ul a{
    text-decoration: none;
    font-size: 17px;
    color: #1bca55f5;;
  }
  .partie_gauche .p2{
    font-size: 14px;
    color:rgba(24, 23, 23, 0.479);

  }
  .p2 ul img{
      width: 10px;
      height: 10px;
  }
  /*.nana,.nanan
  {
    margin-top:40px;
    margin-left:50px;
    width: 500px;
   vertical-align: middle;
    display: inline-block;
    font-size: 14px;
  }
  .nana{
    margin-left: 100px;
  }
  .nana img{
    width:300px;
    height: 252px;
    position: relative;
    padding-right: 170px;
    margin-left: 170px
  }
  .nanan img{
    width:200px;
    height:200px;
    position: relative;
    top:-10px;
    margin-left:150px;

  }
  .nanan p{
    margin-left:70px;
    font-size: 13px;
    vertical-align: middle;
  }*/
  .nana,.nanan{
    margin-top:50px;
    margin-left:50px;
    width: 500px;
   vertical-align: middle;
    display: inline-block;
    font-size: 13px;
  }
  .nana{
    margin-left: 100px;
 background-color: #edf8f5;
    
   
  } .nana h3{
    font-size:20px ;
    margin-left: 70px;
  }
  .nana img{
    width:300px;
    height: 252px;
    position: relative;
    padding-right: 170px;
    margin-left: 120px;
    z-index:1;
    
  }
  .nana p{
    margin-left:50px;
    text-align:center;
  }
  .nanan img{
    width:200px;
    height:200px;
    position: relative;
    top:-10px;
    margin-left:150px;
    z-index:1;
  }
  .nanan{
    background-color:#d0e9ea;
    margin-left:80px;
    height: 530px;
    
  }
  .nanan h4{
    margin-left:160px;
    font-size: 10px;
   
  }
  .nanan h5{
    font-size:18px;
    margin-left:140px;
  }
  .nanan p{
    margin-left:50px;
    text-align: center;
  }

  button{
    vertical-align: middle;
    position:relative;
    margin-left:450px; 
    color:blue;
    width: 300px;
    height:40px;
    border-color:blue;
    font-size: 16px;
    margin-top:60px;
    border-radius: 30px;
  }
  footer{ 
    
    margin-top:20px;
     
    background-color: rgba(27, 27, 27, 0.966);
   
    
  }
   /*.nan,.non,.nom,.moi{
    vertical-align: top;
    display: inline-block;
    border:solid black 1px;
    margin-left:80px;
    margin-left:20px;
  }*/
  .nan,.non,.nom,.moi{
    vertical-align: top;
    display: inline-block;
  
     margin-left:20px;
     margin-left:80px; 
     margin-top:30px;

  }
  .nan li,.non li,.nom li,.moi li{
    list-style-type:none;
   color:rgb(245, 240, 240);
    font-size:12px;
    


  }
 /*.nan,p,a{

    margin-left: 80px;
    margin-top:px;
    text-decoration: none;
  }*/
  .nan p,a{
    margin-left: 80px;
    text-decoration: none;
    color:rgb(255, 251, 251);

  }
  .non p,a{
    
    margin-left: 80px;
    color:rgb(255, 251, 251);
    text-decoration: none;

  }
  .nom p,a{
    margin-left: 80px;
    text-decoration: none;
    color:rgb(255, 251, 251);

   

  }
  .moi p,a{
     margin-left: 80px;
    text-decoration: none;
    color:rgb(255, 251, 251);
    
    

  }

